body {
    background-color: floralwhite;
    text-align: center;
    font-family: "Roboto Mono", monospace;
}
h1 {
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
}
.a {
  display: flex;
  align-items: center;
  width: 94%;
  padding: 1%;
  background-color: darkolivegreen;
  color: antiquewhite;
  border: 0.5rem solid antiquewhite;
  list-style: none;
  margin: 0 auto;
}

.a .b {
  flex: 0.5;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
}

.a .d {
  flex: 2;
  text-align: center;
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.a .c {
  flex: 0.5;
  font-family: "Roboto Mono", monospace;
  padding: 0.5rem 0.5rem;
  color: darkolivegreen;
  background: antiquewhite;
  border: none;  
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}