* { 
  margin: 0; 
  padding: 0; 
  box-sizing: 
  border-box; 
}

.a { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background: red; 
  border: 3px solid; 
  list-style: none; 
  font-family: serif; 
}

.a img { 
  width: 20%; 
  padding: 1%; 
}

.a .b { 
  display: flex; 
  gap: 20px;
  padding: 1%; 
  list-style: none; 
}

.a a { 
  color: green; 
  text-decoration: none; 
  transition: 0.2s; 
}

.a a:hover { 
  opacity: 0.8; 
}

.c { 
  background: url('../images/a.webp') repeat fixed; 
  min-height: 100vh; 
}

.c::before, object {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 96%;
}

.c::before {
  content: "";
  top: 0;
  height: 100%;
  background: rgba(236, 236, 236, 0.9);
  z-index: -1;
  pointer-events: none;
}